.navbar-light .navbar-brand{
    font-family: 'Abril Fatface', cursive;
    font-size: 5vh;
    font-weight:bold;
    margin-left: 5vw;
    color: #00e6e6;
}
.logo{
    height: 7vh;
    margin-right: 0.3vw;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 70vw;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
