.formHome{
    display: flex;
    margin: 1vw;
}
.row{
    width:100vw;
}
.form-champtext > .form-group{
    display: flex;
    justify-content:space-between;
    width:100%;
}
.form-champdate > .form-group{
    display: flex;
    justify-content:space-between;
}
.form-champtext {
    display: flex;
    justify-content:space-between;
}
.form-champdate{
    display: flex;
    justify-content:space-between;
}
.col-form-label{
    width:10%;
}
.form-control{
    width:50%;
}
.form-group > label {
    width:40%;
}
.my-custom-scrollbar {
    position: relative;
    height: 40vh;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.sortieNull{
    width: 100vw;
    display:flex;
    text-align: center;
}
