.navbar-light .navbar-brand{
    font-family: 'Abril Fatface', cursive;
    font-size: 5vh;
    font-weight:bold;
    margin-left: 5vw;
    color: #00e6e6;
}
.logo{
    height: 7vh;
    margin-right: 0.3vw;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 70vw;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formHome.col-sm-1.col-lg-3{
    display: flex;
    height: 65vh;
    flex-direction: row;
}
.formHome-col.col-sm-1.col-lg-4{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.col-sm-1.col-lg-2{
    display:flex;
    align-items: center;
}
.form-group{
    margin-right: 1vw;
    margin-left:1vw;
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5vh;

}
.col-form-label{
    width:10%;

}
.form-control{

    width:50%;
}
.form-group > label{
    width: 20%;
}