
{% block footer %}
    <div class="container-fluid">
        <div class="footer">
            &copy JeMaNiSy - Projet Symfony - 2021 Site développé par MERCER Jessy, CHENOUN Mathieu, CHAMPION Nicolas et GARCIA Sylvain
            dans le cadre d'un projet de formation en SYMFONY 5

        </div>
    </div>
{% endblock %}