
{% block footer %}
    <div class="container-fluid">
        <div class="footer">
            <p>Site développé par MERCER Jessy, CHENOUN Mathieu, CHAMPION Nicolas et GARCIA Sylvain dans le cadre d'un projet de formation, réalisé avec le framework SYMFONY 5</p>
            <br>
            <p>&copy JeMaNiSy - Projet Symfony - 2021</p>
        </div>
    </div>
{% endblock %}