{% extends 'layout.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}
{% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}

{% block main %}
    <div class="container">
        <h1 class= "text-align: center"> Créer une sortie </h1>
             {{ form_start(sortieForm, {'method': 'GET'}) }}
                {{ form_widget(sortieForm) }}
        <button class="btn btn-primary" type="submit">Enregistrer</button>
                    {{ form_end(sortieForm) }}
    </div>
{% endblock %}