{% extends 'layout.html.twig' %}

{% block main %}
    <div class="container">
        <div class="login">
            <div class="row">
                <div class="col-12">
                    <form method="post">
                        <label class="control-label" for="identifiant">Identifiant : </label>
                        <input class="form-control" type="text" id="identifiant"/>
                        <br>
                        <label class="control-label" for="password">Mot de passe : </label>
                        <input class="form-control" type="password" id="password"/>
                        <br>
                        <button class="btn-xl btn-primary" Type="submit">Connexion</button>
                        <input type="checkbox" id="remember"/>
                        <label for="remember">Se souvenir de moi</label>
                        <br>
                        <a href="#">Mot de passe oublié</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}