{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    {{ form_start(registerForm) }}
    {{ form_widget(registerForm) }}
    <button type="submit">Enregistrer</button>
    <button type="reset">Annuler</button>
    {{ form_end(registerForm) }}

{% endblock %}

{% block footer %}{% endblock %}